@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
.BestPartnerinLocationImg{
    width: 100%;
    height: 500px;
}
.BestPartnerinLocationCard_main{

}
.BestPartnerinLocation_heading{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #0A043C;
    font-weight: bold;
}
.PowerCompany_Card_main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PowerCompanyIcon{
    width: 32px;
    height: 36px;
    margin-right: 20px;
}
.PowerCompany_Card_heading{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #0A043C;
    font-weight: bold;
}
.PowerCompany_Card_des{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #79869F;
    margin-top: -15px;
}
.BestPartnerinLocation_view_all_btn{
    border: none;
    border: 2px solid #2F8EED;
    border-radius: 10px;
    font-size: 14px;
    color: #2979F2;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    width: 170px;
    height: 55px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .BestPartnerinLocationImg{
        width: 100%;
        height: 300px;
    }
    .BestPartnerinLocation_view_all_btn{
        border: none;
        border: 2px solid #2F8EED;
        border-radius: 10px;
        font-size: 14px;
        color: #2979F2;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        width: 170px;
        height: 55px;
        cursor: pointer;
        margin-top: 50px;
        font-weight: bold;
        margin:  0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
}