@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
.Heading_main{
    width: 90%;
    margin:0 auto;
}

.main{
    width: 100%;
}
.top_main{
    background-color: #0A043C;
}

.CompanyHireWithUs_main{
    width: 90%;
    margin:0 auto;
    margin-top: 50px;

}

.CompanyHireWithUs_heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #AAAAAA;
    font-size: 24px;
}

.HowItWorks_main{
    width: 90%;
    margin:0 auto;
    margin-top: 50px;
}

.HowItWorks_heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0A043C;
    font-size: 40px;
    font-weight: bold;
}

.HowItWorks_des{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #AAAAAA;
    font-size: 14px;
}